*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #00ff88;
    /* color: #00ff88; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
    margin: auto;
}
.body{
    background-color: antiquewhite;
    padding: 20px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.main{
    display: flex;

    align-items: center;
justify-content: center;
flex-direction: column;
gap: 30px;
}
select{
outline: none;
border: none;
}
img{
    width: 24px;
}
.currency1, .currency2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.currencyContainer{
    display: flex;
    gap: 40px;
}