body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
.container{
    width: 40%;
    
    margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
    background-color: white;
border-radius: 10px;
/* height: 300px; */
min-height: 300px;
max-height: 90%;
/* display: flex; */
justify-content: center;
}

h2{
    padding: 10px;
    margin: 10px;
    color: #3e3e3e;
    display: inline;
}
.title img{
    width: 40px;
    height: 40px;
    /* margin-top: 10px; */
    margin: 10px 100% 10px 0px;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background-color: #eaeaea;
    border-radius: 20px;
}
.input input{
    width: 80%;
    padding: 10px;
    margin: 0px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    /* margin-bottom: 10px; */
    /* background-color: #e8e8e8; */
}
#addButton{
    width:100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #8512ff;
    color: white;
    cursor: pointer;
    /* margin-bottom: 10px; */
}
#addButton:hover{
    background-color: #6a11cb;
}
.list{
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
}

ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: flex-start;
}
li{
    list-style: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 10px;
    /* margin: 10px; */
    align-items:start;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}

li:hover{
    background-color: #f3f3f3;
}
li span{
    width: 80%;
    text-align: left;
    color: #3e3e3e;
}
li button{
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8512ff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}